/* src/components/Capitals/index.css */

.bg-container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f8fafc;
  border-radius: 8px;
  padding: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  color: #323f4b;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rowContainer {
  display: flex;
  align-items: center;
}

#capitals {
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding: 8px;
  margin-right: 8px;
}

.parastyle {
  color: #1e293b;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
}

select {
  background-color: #fff;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1e293b;
  cursor: pointer;
}

p {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 8px 0 0 0;
  font-weight: 500;
  margin-top: 25px;
}
@media (max-width: 767px)
{
  .card{
    width: 95%;
  }
}